/* About config */
#content.about_config table {
 border-collapse: collapse;
 margin: 2em 0;
}
#content.about_config th {
 background: #f7f7f0;
 font-weight: bold;
 text-align: left;
 vertical-align: top;
}
#content.about_config th.section {
 text-align: right;
}
#content.about_config th, #content.about_config td {
 border: 1px solid #ddd;
 padding: 3px;
}
#content.about_config td.name { background:#f9f9f0; }
#content.about_config td.value { background:#f9f9f0; font-weight: bold; }
#content.about_config td.defaultvalue { font-family: monospace;
  background: #f9f9f0;
}
#content.about_config td.doc { padding: 3px 1em 3px 1em; }
