/* Browser */
#browser-chgrev {
/*  position: absolute; */
/*  right: 0px; */
 float: right;
 padding: 0;
 margin: 0;
}
#browser-chgrev input { text-align: center; padding: 0;}
#browser-pathlinks {
  padding-bottom: .5em;
}
tr.browser-listhdr { border-bottom: 1px solid #eee; }
tr.browser-listhdr th {
  text-align: left;
  padding: 0 1em 0 0;
  font-size: 13px;
}
#browser-list { 
 clear: both; 
 border-top: 1px solid #ccc;
}
#browser-list a.block-link { 
  display: block;
  border-bottom: none;
  background: transparent;
}
#browser-list td { padding: .1em .5em; }
th { text-align: left; }
td.br-size-col,td.br-rev-col,td.br-date-col,td.br-summary-col,td.br-chg-col { border-left: 1px solid #eee; }
td.br-icon-col { }
td.br-rev-col, td.br-chg-col { text-align: center; }
td.br-rev-col a { font-weight: bold; }
td.br-name-col { width: 100%; }
td.br-size-col, td.br-rev-col, td.br-date-col {
  color: #888;
  white-space: nowrap;
}
td.br-icon-col, td.br-report-col, td.br-ticket-col { width: 1em; }
