/* Colors for change types */
.mod { background: #fd8 !important }
.rem { background: #f88 !important }
.right.rem { background: #faa !important }
.add { background: #dfd !important }
.right.add { background: #cfc !important }

/* Legend for diff colors */
.diff #legend {
 float: right;
 font-size: 9px;
 line-height: 1em;
 margin: 1em 0;
 padding: .5em;
}
.diff #legend h3 { display: none; }
.diff #legend dt {
 border: 1px solid #999;
 float: left;
 margin: .1em .5em .1em 2em;
 overflow: hidden;
 width: .8em; height: .8em;
}
.diff #legend dl, .diff #legend dd {
 display: inline;
 float: left;
 padding: 0;
 margin: 0;
 margin-right: .5em;
}

/* Styles for the actual diffs */
.diff { width: 100% }
.diff ul { clear: both; margin: 0; padding: 0 }
.diff li {
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
 list-style-type: none;
 margin: 0;
 margin-bottom: 3em;
 padding: 2px;
}
.diff h2 {
 color: #333;
 font-size: 14px;
 letter-spacing: normal;
 margin: 0 auto;
 padding: .1em 0 .25em;
 text-align: center;
}
.diff table {
 border: 1px solid #ddd;
 border-top: 0;
 padding: 5px;
 width: 100%;
 font-size: 12px;
 border-collapse: collapse;
 border-spacing: 0;
 margin: 0 auto;
}
.diff table th {
 background: #eed;
 border: 1px solid #d7d7d7;
 border-bottom: 1px solid #998;
 color: #886;
 font-size: 11px;
 font-weight: bold;
 text-align: left;
}
.diff table td {
 background: #fff;
 padding: 0 .5em;
 font: normal 11px monospace;
 vertical-align: top;
 width: 50%;
}
.diff table td.left { border-right: dashed 1px #d7d7d7 }
