.report-hdr { margin: 1em; margin-left: 0; }
.report-list { 
 width: 97%; 
 margin-left: 1em;
 padding: 1em;
 border-collapse: collapse;
 line-height: 130%;
}
tr { 
 border: 1px solid #d7d7d7; 
 border-top: none;
}
.report-list th { 
 border-left: 1px solid #fff; 
 border-right: 1px solid #fff; 
 border-bottom: 1px solid #d7d7d7; 
 color: #000;
 text-align: left;
 padding: 0 .2em;
}
.report-list td { 
 padding: .1em .5em;
 vertical-align: top;
 border: none;
 border-right: 1px dotted #d7d7d7; 
}
.report-tktref { display: block; padding: 0 .5em; }
.report-tktref:hover { background: #ccc; color: #fff; }
.color1-odd  { background: #fdc; border-color: #ecb; color: #844; }
.color1-even { background: #fed; border-color: #edc; color: #844; }
.color2-odd  { background: #ffb; border-color: #eea; color: #880; }
.color2-even { background: #ffd; border-color: #eec; color: #880; }
.color3-odd  { background: #cfd; border-color: #bec; color: #070; }
.color3-even { background: #dfe; border-color: #ced; color: #070; }
.color4-odd  { background: #cff; border-color: #bee; color: #099; }
.color4-even { background: #dff; border-color: #cee; color: #099; }
.color5-odd  { background: #ddeeff; border-color: #ccddee; color: #469; }
.color5-even { background: #d0e0ff; border-color: #cde; color: #469; }
.color6-odd  { background: #f0f0f0; border-color: #ddd; color: #888; }
.color6-even { background: #f7f7f7; border-color: #ddd; color: #888; }
.color6-odd a, .color6-even a { color: #b66; }

