.report-hdr { 
 margin: 1em 0; 
 margin-top: 2em;
 padding-left: .25em;
 border-bottom: 2px solid #eee;
 font-size: 150%;
}
#report-descr { 
 margin: 0 2em;
 font-size: 90%;
}
.report-list { 
 width: 97%; 
 margin-left: 1em;
 padding: 1em;
 border-collapse: collapse;
 line-height: 130%;
 border: 1px solid #d7d7d7; 
 border-top: none;
}
tr { 
 border-bottom: 1px solid #d7d7d7; 
 border-top: none;
}
.report-list th { 
 border-left: 1px solid #fff; 
 border-right: 1px solid #fff; 
 border-bottom: 1px solid #d7d7d7; 
 color: #999;
 text-align: left;
 text-transform: capitalize;
 font-size: 90%;
 padding: 0 .2em;
}
.report-list td {
 padding: .1em .5em;
 vertical-align: top;
 border-right: 1px dotted #d7d7d7; 
 border-top: 1px dotted #fff; 
}
.report-fullrow { 
 margin: 1px;
 margin-top: 0;
 background: #fff;
 padding-bottom: 2.5em;
 font-size: 90%;
}
td.ticket-col { font-weight: bold; }
td.summary-col {}
td.severity-col {}
td.priority-col {}
td.report-col {}
td.component-col {}
td.version-col {}
td.status-col {}
.report-fullrow p { margin: 0; padding: .25em 1em}
a.report-tktref,a.report-tktref:visited { display: block; padding: 0 .5em; border: none}
a.report-tktref:hover { background: #b00; color: #fff; }
.header-left a { display: block; margin-bottom: .25em; border: none; }
.color1-odd  { background: #fdc; border-color: #e88; color: #a22; }
.color1-even { background: #fed; border-color: #e99; color: #a22; }
.color2-odd  { background: #ffb; border-color: #eea; color: #880; }
.color2-even { background: #ffd; border-color: #dd8; color: #880; }
.color3-odd  { background: #fbfbfb; border-color: #ddd; color: #444; }
.color3-even { background: #f6f6f6; border-color: #ccc; color: #333; }
.color4-odd { background: #e7ffff; border-color: #cee; color: #099; }
.color4-even  { background: #dff; border-color: #bee; color: #099; }
.color5-odd  { background: #e7eeff; border-color: #ccddee; color: #469; }
.color5-even { background: #dde7ff; border-color: #cde; color: #469; }
.color6-odd  { background: #f0f0f0; border-color: #ddd; color: #888; }
.color6-even { background: #f7f7f7; border-color: #ddd; color: #888; }
.color6-odd a, .color6-even a { color: #b66; }
#report-notfound { margin: 2em; font-size: 110%; }