/* General styles for the progress bars */
div.progress { float: left; border: 1px solid #d7d7d7 }
div.progress div { background: #bae0ba; height: 1.2em }
p.percentage { font-size: 10px; line-height: 2.4em }

/* Styles for the roadmap view */
#main.roadmap ul.milestones { margin: 2em 0 0; padding: 0 }
#main.roadmap li.milestone {
 clear: both;
 list-style: none;
 margin-bottom: 4em;
}
#main.roadmap li.milestone .info h2 {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 font-size: 14px;
 margin: 0;
}
#main.roadmap li.milestone .info h2 :link,
#main.roadmap li.milestone .info h2 :visited {
 display: block;
 border-bottom: none;
}
#main.roadmap li.milestone .info h2 :link:hover,
#main.roadmap li.milestone .info h2 :visited:hover {
 color: inherit;
}
#main.roadmap li.milestone .info h2 em {
 color: #b00;
 font-style: normal;
}
#main.roadmap li.milestone .info .date {
 color: #888;
 font-size: 11px;
 font-style: italic;
 margin: 0;
}
#main.roadmap li.milestone .info .progress {
 margin: 1em;
 width: 40em;
}
#main.roadmap li.milestone .info dl {
 clear: both;
 float: left;
 font-size: 10px;
 font-style: italic;
 margin: -1em 0 2em 1em;
 white-space: nowrap;
}
#main.roadmap li.milestone .info dt {
 display: inline;
 margin-left: .5em;
}
#main.roadmap li.milestone .info dd {
 display: inline;
 margin-left: .5em;
 margin-right: 1em
}
#main.roadmap li.milestone .descr {
 clear: both;
 margin-left: 1em;
}

/* Styles for the milestone view */
#main.milestone .date { color: #888; font-style: italic }
#main.milestone .descr { margin: 1em 0 2em }
#main.milestone .stats {
 margin: 2em 0 0;
 border-collapse: collapse;
 line-height: 130%;
 margin: 0 0 2em;
 width: 100%;
}
#main.milestone .stats caption {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 margin: 0 0 1em;
 font-size: 14px;
 text-align: left;
}
#main.milestone .stats td, #main.milestone .stats th { padding: 0 .25em }
#main.milestone .stats th { text-align: left }
#main.milestone .stats th.tickets { text-align: center }
#main.milestone .stats th.open, #main.milestone .stats th.closed {
 font-size: smaller;
 text-align: center;
 width: 6em;
}
#main.milestone .stats td.open, #main.milestone .stats td.closed {
 color: #888;
 text-align: right;
 padding-right: 1.5em;
}
#main.milestone .stats th.progress { padding-left: 6px; width: 60% }
#main.milestone .stats td div.progress { margin: 3px .5em 3px 2px }
#main.milestone .stats td.progress p { font-size: 10px; margin: 3px 0 }
#main.milestone .stats tbody tr:hover, #main.milestone .stats tbody tr:hover {
 background: #eed;
}
#main.milestone .stats tbody td, #main.milestone .stats tbody th {
 border: 1px dotted #ddd
}
#main.milestone .stats tbody th { font-weight: normal; text-align: left }
#main.milestone .stats tbody th.name, #main.milestone .stats tfoot th.name {
 line-height: 2em;
}
#main.milestone .stats tfoot tr { border-bottom: 0 }
#main.milestone .stats tfoot th, #main.milestone .stats tfoot td {
 font-weight: bold;
 padding: 0 .25em;
}

/* Styles for the milestone edit form */
#main.milestone form fieldset {
 margin: 1em 0;
 padding: .5em;
}
#main.milestone form label {
 font-size: 11px;
 margin-right: .5em;
}
#main.milestone form em {
 color: #888;
 font-size: 11px;
}
