/* General styles for the progress bars */
div.progress { float: left; border: 1px solid #d7d7d7 }
div.progress div { background: #bae0ba; height: 1.2em }
p.percent { font-size: 10px; line-height: 2.4em; margin: 0.9em 0 0 }

/* Styles for the roadmap view */
ul.milestones { margin: 2em 0 0; padding: 0 }
li.milestone { list-style: none; margin-bottom: 4em }
li.milestone .info { white-space: nowrap }
li.milestone .info h2 {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 margin: 0;
}
li.milestone .info h2 :link, li.milestone .info h2 :visited {
 color: #000;
 display: block;
 border-bottom: none;
}
li.milestone .info h2 :link:hover, li.milestone .info h2 :visited:hover {
 color: #000;
}
li.milestone .info h2 em { color: #b00; font-style: normal }
li.milestone .info .date {
 color: #888;
 font-size: 11px;
 font-style: italic;
 margin: 0;
}
li.milestone .info .progress { margin: 1em 1em 0; width: 40em; max-width: 80% }
li.milestone .info dl {
 font-size: 10px;
 font-style: italic;
 margin: 0 1em 2em;
 white-space: nowrap;
}
li.milestone .info dt { display: inline; margin-left: .5em }
li.milestone .info dd { display: inline; margin: 0 1em 0 .5em }
li.milestone .description { margin-left: 1em }

/* Styles for the milestone view */
.milestone .date { color: #888; font-style: italic; margin: 0 }
.milestone .description { margin: 1em 0 2em }

/* Milestone view preferences */
#prefs fieldset { margin: 1em .5em .5em; padding: .5em 1em 0 }

/* Styles for the statistics table */
h2.stats {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 clear: right;
 padding: 0 .33em;
}
#stats { border-bottom: none; margin-top: 0 }
#stats td, #stats th { padding: 0 .25em }
#stats :link, #stats :visited { display: block; border: none }
#stats th.name { text-transform: capitalize }
#stats th.tickets { text-align: center; border-bottom: none }
#stats th.open, #stats th.closed {
 border-top: none;
 font-size: smaller;
 text-align: center;
 width: 6em;
}
#stats td.open, #stats td.closed {
 color: #888;
 text-align: right;
 padding-right: 1.5em;
 vertical-align: middle;
}
#stats th.progress { padding-left: 6px; width: 60% }
#stats td.progress { white-space: nowrap }
#stats td.progress div.progress { margin: 3px .5em 3px 2px }
#stats td.progress p.percent { font-size: 10px; margin: 0 }
#stats tbody th { font-weight: normal; text-align: left }
#stats tbody th.name { line-height: 2em }
#stats tbody.totals tr { border-bottom: 0 }
#stats tbody.totals th, #stats tbody.totals td {
 font-weight: bold;
}

/* Styles for the milestone edit form */
#edit fieldset { margin: 1em 0 }
#edit em { color: #888; font-size: smaller }
#edit .disabled em { color: #d7d7d7 }
#edit .field { margin-top: 1.3em }
#edit label { padding-left: .2em }
#edit textarea#description { width: 97% }
