#content form { margin: 1em 0 0 }
#content form p { margin: .5em 0 }
#content hr { clear: left; margin-bottom: 0 }
#notfound { margin: 2em; font-size: 110% }

#results { margin-right: 3em }
#results dt { margin: 1.5em 0 0 }
#results dt a { color: #33c }
#results dd { font-size: 80%; margin: 0; padding: 0 }
#results .author, #results .date, #results .keywords { color: #090 }

#quickjump { font-style: italic; font-weight: bold; }

#paging { margin: 0 0 2em; text-align: center }
