@import url(code.css);

#content { margin-top: 1.5em; width: 700px }

#ticket { 
 background: #ffd;
 border: 1px outset #996;
 padding: 1em;
}
#ticket h1, #ticket h2 { margin: 0 }
#ticket h2 { font-weight: normal; font-size: 150%; margin-bottom: 1em }
#ticket .date { float: right; color: #996 }

#ticket table { table-layout: fixed; border-collapse: collapse; width: 100% }
#ticket tr { border-bottom: 1px dotted #eed }
#ticket td, #ticket th { font-size: 80%; padding: .5em 1em; vertical-align: top }
#ticket th { color: #996; font-weight: normal; text-align: left }
#ticket hr { color: #dd9; border-color: #dd9; border-width: 1px 0 0; height: 1px; margin: .5em 0 0 }

#attachments { border: 1px outset #996; padding: 1em }
#attachments .attachments { list-style: square; margin-left: 2em; padding: 0 }

#changelog { border: 1px outset #996; padding: 1em }
#changelog h3 {
 border-bottom: 1px solid #d7d7d7;
 color: #999;
 font-size: 100%;
 font-weight: normal;
}
#changelog .changes { list-style: square; margin-left: 2em; padding: 0 }
#changelog .comment { margin-left: 2em }

form .field { margin-top: .75em; width: 100% }

#properties { white-space: nowrap; line-height: 160%; padding: .5em }
#properties .main { margin-bottom: 1em }
#properties .col1 {
 border-right: 1px dotted #d7d7d7;
 float: left;
 margin-bottom: 1em;
 width: 45%;
}
#properties .col2 { margin-left: 40% }
#properties .main label, #properties .col1 label, #properties .col2 label {
 float:left;
 width: 7em;
 text-align: right;
 margin-right: .5em;
}
#properties .custom {
 clear: left;
 border-top: 1px dotted #d7d7d7;
 padding-top: 1em
}
#properties .custom .field { margin: .25em 0 }

#action { line-height: 2em }

.buttons { padding-top: .5em; text-align: right }

fieldset.radio { border: none; margin: 0; padding: 0 }
fieldset.radio legend {
 color: #000;
 float: left;
 font-size: 100%;
 font-weight: normal;
 padding: 0 1em 0 0;
}
fieldset.radio label { padding-right: 1em }
