/* Timeline */

* html #prefs { width: 34em } /* Set width only for IE */
#prefs .buttons { margin-top: -1.6em }

h2 {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 font-size: 105%;
 margin: 2em 0 .5em;
}
dl { line-height: 1.3em; margin-left: 1em }
dt { background: 3px 4px no-repeat; padding: 0 }
dt :link, dt :visited {
 background: 3px 3px no-repeat;
 border: none;
 color: #000;
 padding: 0 4px 2px 22px;
}
dt>:link, dt>:visited {
 /* Hide from IE/Win */
 background-position: 3px 4px;
 display: block;
}
dt :link:hover, dt :visited:hover { background-color: #eed; color: #000 }
dt em {
 border-bottom: 1px dotted #bbb;
 color: #b00;
 font-style: normal;
 text-decoration: none;
}
dt .time { color: #999; font-size: 80%; }
dd { 
 font-size: 80%;
 margin: 0 0 .75em 5.5em;
 padding: 0;
 color: #776;
}

/* Apply icon background-image twice to avoid hover-flicker in IE/Win */
dt.changeset, dt.changeset a { background-image: url(../changeset.png) !important }
dt.newticket, dt.newticket a { background-image: url(../newticket.png) !important }
dt.closedticket, dt.closedticket a { background-image: url(../closedticket.png) !important }
dt.wiki, dt.wiki a { background-image: url(../wiki.png) !important }
dt.milestone, dt.milestone a { background-image: url(../milestone.png) !important }

.diff-unmod { color: #000 }
.diff-rem { color: #e00 }
.diff-add { color: #2e2 }
.diff-mod { color: #e84 }
