/* Trac CSS */
body {
  background: #fff;
  margin: 10px;
  padding: 0;
  color: #000;
  font: normal 13px verdana,arial,'Bitstream Vera Sans',helvetica, sans-serif;
}
h1,h1,h2,h3,h4 {
 font-family: arial,verdana,'Bitstream Vera Sans',helvetica, sans-serif;
 font-weight:bold; 
 letter-spacing:-0.028em; 
}
.hide { display: none; }
.tiny { font-size: 1px; height: 1px }
hr { border: none;  border-top: 1px solid #ccc; margin: 2em 0; }
a:link, a:visited, a.noline,b.tl-item-link {
  text-decoration: none;
  color: #b00;
  border-bottom: 1px dotted #bbb;
}
a[name] { border: none; }
a:hover { color: #b00; background: #eee; }
a[name]:hover { color: inherit; background: transparent; }
a.noline { border-bottom: none; }
address { font-style: normal; }
img { border: none; }
span.underline { text-decoration: underline; }
#browser-rev, #file-hdr, #log-hdr,#log-hdr,#timeline-hdr,#chg-hdr,#report-hdr,#tkt-hdr {
  font-size: 21px;
  margin-right: 1em;
  margin-top: .5em;
}
/* Forms */
input,textarea,select { background: #fff; margin: 2px;}
input[type="submit"]:hover,input[type="reset"]:hover,a.fake-button:hover { background: #ccb; }
input[type="submit"],input[type="reset"],.fake-button,a.fake-button {
 background: #eee;
 color: #222; 
 border: 1px outset #ccc;
 padding: .1em .5em;
}
.fake-button, a.fake-button { 
 display: block;
 width: 9em; 
 text-align: center;
 font-size: 80%;
 white-space: nowrap;
}
option { border-bottom: 1px dotted #d7d7d7; }
.textwidget {  border: 1px solid #d7d7d7; padding: .25em .5em }
textarea,input[type="text"],.input-text { border: 1px solid #d7d7d7; padding: .25em .5em}
input:focus,textarea:focus { border: 1px solid #886; }
fieldset { 
 border: 1px solid #d7d7d7; 
 padding: 0;
 padding-top: .5em; 
 padding-bottom: .75em;
 margin: 0;
 width: 99%; 
}
legend { 
 color: #d7d7d7; 
 background: #fff;
 padding: 0 .25em;
 font-size: 75%; 
 font-weight: bold; 
}
/* Header */
#header { position: relative;  width: 100%; float: left; }
#header-right { position: absolute; bottom: 0px; right: 0px; }
#search { text-align: right; margin: 1em 0; font-size: 10px; }
#search input { padding: 1px;  font-size: 10px; }
#search label { display: none; }
#hdrlogo { }
#hdrlogo,#hdrlogo img,#hdrlogo:hover {
 float: left;
 margin-bottom: 2px;
 border: none;
}
.subheader-links { 
  display: block; 
  padding: 0;
  padding-bottom: .25em;
  margin: 0;
  font-size: 10px;
  text-align: right; 
}
.subheader-links li, .menulist li { 
  display: inline;
  border-right: 1px solid #d7d7d7; 
  padding: 0 .75em; 
  white-space: nowrap;
}
.menulist li { float: left; }
.subheader-links li.last,.menulist li.last { border-right: none; }
.subheader-links  li ul, .menulist { 
  background: #f7f7f7;
  color: #ccc;
  border: 1px solid;
  padding: 0 .5em;
  display: inline;
  float: left;
}
.menulist { 
  padding: 0;
  margin: 0;
  border: 1px solid #d7d7d7;
  font-size: 11px;
  white-space: nowrap;
}
.menulist li { padding: 0; margin: 0;}
.menulist a,.menulist a:visited { 
  display: inline;
  float: left;
  padding: .2em .75em; 
  margin: 0;
  border: none;
  color: #000 
}
.menulist a:hover { background: #ccb; color: #000; }
/* Footer */
#footer {
  font-size: 75%;
  color: #bbb;
  border-top: 1px solid;
  padding: .25em 0;
}
#footer a { color: #bbb; }
#footer-left {
  float: left;
  padding: 0 1em;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
#footer-right { text-align: right; }
#footer-logo { float: left; margin-right: 1em; margin-top: 0; }

/* Navbar  */
#navbar {
  font: normal 10px verdana, 'Bitstream Vera Sans', Helvetica, Arial, sans-serif; 
  color: #000;
  clear: left;
  border: 1px solid #999;
  margin: .15em 0;
  min-width: 500px;          
  height: 16px;
  /* NOTE: Changes dynamically in header.cs */
}
#navbar ul {
  display: inline; 
  float: right;
  padding: 0; 
  margin: 0;
}
#navbar ul li { 
 display: inline; 
 list-style: none;
}
#navbar ul li a {
  display: block; 
  float: left; 
  height: 14px;
  border-left: 1px solid #999;
  border-right: 1px solid #fff;
  border-bottom: none;
  padding: 1px 15px;
  color: #000;
  /* NOTE: Changes dynamically augmented in header.cs */
}
#navbar a.active, #navbar a.active:visited { 
  font-weight: bold;
  border-top: none;
  border-right: none;
}
#navbar a:hover { background-color: #d7d7d7; border-right: 1px solid #ddd; }
#page-content { }
#main {  margin-bottom: 2em; }
#main-footer { margin-top: 3em; text-align: center; }
#help { margin: 1em; font-size: 90%; color: #999; text-align: right}
#help a { color: #b44 }
/* Wiki */
#wiki-history {
  visibility: hidden;
  background: #f7f7f0;
  border: 1px outset #999;
  font-size: 75%;
  position: absolute;
  display: inline;
  margin: 10px;
  right:10px;
  border-collapse: separate;
  border-spacing: 0;
  padding: .5em;
}
#wiki-history a { padding: 0 .5em; }
#wiki-history a { border: none; }
#wiki-history a:hover,#wiki-history tr:hover {
  background: #ddd; 
}
a.missing:link,a.missing:visited { color: #998; background: #fafaf0; }
a.missing:hover { color: #000; }
#wiki-body { line-height: 140%; margin: 1em; }
#wiki-formatting-help {
  font: normal 11px Verdana, 'Bitstream Vera Sans', Helvetica, Arial, sans-serif;
  float: right;
}
#browser-list,#common-list {
  margin: .5em 0 0em 0;
  border-bottom: 1px solid #eee;
  border-collapse: collapse;
  line-height: 130%;
}
#browser-list td { padding: 0 .25em; border: 1px dotted #ddd; }
#browser-list { width: 100%; }
tr.even, tr.odd { border-top: 1px solid #ddd; }
tr.even { background-color: #fcfcfc; }
tr.odd { background-color: #f7f7f7; }
#browser-list tr.even:hover, #browser-list tr.odd:hover { background: #eed; }
.wikipage p {  margin-left: 1em }
pre.wiki, pre.literal-block { 
 margin: 1em 1.75em;
 padding: .25em;
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
}
table.wiki {
 border: 2px solid #ccc;
 border-collapse: collapse;
 border-spacing: 0;
}
table.wiki td { border: 1px solid #ccc;  padding: .1em .25em; }
#wiki-edit-page:hover { background: #ccb }
.error { 
 background: #fdc; 
 border: 1px solid #b00;
 color: #b00;
 padding: .25em;
 margin: 1em 0;
}
.searchword0 { background: #ff9; }
.searchword1 { background: #cfc; }
.searchword2 { background: #cff; }
.searchword3 { background: #ccf; }
.searchword4 { background: #fcf; }
