@import url(code.css);
@import url(diff.css);

/* Styles for the page editing form */
#edit #rows { float: right; font-size: 80% }
#edit #rows select { font-size: 90% }
#edit #text { clear: both; width: 100% }
#changeinfo { padding: .5em }
#changeinfo .field { float: left; margin: 0 1em .5em 0 }
#changeinfo br { clear: left }
#changeinfo .options { padding: 0 0 1em 1em }
#changeinfo .options, #changeinfo .buttons { clear: left }
#delete { margin-left: 6em }
#preview { background: #f4f4f4 url(../draft.png); margin-top: 2em }

/* Styles for the page history table
   (extends the styles for "table.listing") */
#wikihist td { padding: 0 .5em }
#wikihist td.date, #wikihist td.version, #wikihist td.author {
 white-space: nowrap;
}
#wikihist td.version { text-align: center }
#wikihist td.comment { width: 100% }
