<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="prefs.html" />
  <head>
    <title>Language</title>
  </head>
  <body>

    <div class="field" py:with="session_language = settings.session.get('language')">
      <label>Language:
      <select name="language">
        <option value="">default language</option>
        <option py:for="locale, language in languages"
                selected="${session_language == locale or None}"
                value="$locale">$language</option>
      </select></label>
      <p class="hint">Configuring your language will result in all text
      displayed on this site to use your language instead of that of the
      server.</p>

      <p class="hint">The 'default language' option uses the browser's
        language negotiation feature to select the appropriate language.</p>
    </div>

  </body>
</html>
