<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="prefs.html" />
  <head>
    <title>Language</title>
  </head>
  <body>

    <div class="field" py:with="session_language = settings.session.get('language')">
      <label>Language:
        <select name="language">
          <option value="">default language</option>
          <option py:for="locale, language in languages"
                  selected="${session_language == locale or None}"
                  value="$locale">$language</option>
        </select>
      </label>
      <p class="hint">Configuring your language will result in all text
      displayed on this site to use your language instead of that of the
      server.</p>

      <p class="hint">The 'default language' option uses the browser's
        language negotiation feature to select the appropriate language.</p>

      <p py:if="not languages" class="hint">
        <strong>Note:</strong> ${"Translations are currently unavailable."}
        <py:choose>
          <py:when test="'TRAC_ADMIN' in req.perm">
            ${"Trac has been localized to more than a dozen of languages but in order \
            to be able to use them, the"} <a href="http://babel.edgewall.org">${'Babel'}</a>
            ${"package needs to be present when installing Trac. See"}
            <a href="${href.wiki('TracInstall')}">${'TracInstall'}</a> ${"for details."}
          </py:when>
          <py:otherwise>
            ${"Please contact your"}
            <a py:strip="not project.admin" href="mailto:${project.admin}">${"Trac administrator"}</a>
            ${"to enable existing translations."}
          </py:otherwise>
        </py:choose>
      </p>
    </div>

  </body>
</html>
