include scripts/trac-admin
recursive-include htdocs *
recursive-include doc *
recursive-include templates *.cs README
prune *~
prune *.tmp
prune *.bak
prune *.old
prune .svn 
prune */.svn
prune */*/.svn
prune */*/*/.svn
prune */*/*/*/.svn
