include scripts/trac-admin
recursive-include cgi-bin *
recursive-include htdocs *
recursive-include doc *
recursive-include wiki-default *
recursive-include templates *.cs README
prune doc/trac-guide
prune .svn 
prune */.svn
prune */*/.svn
prune */*/*/.svn
prune */*/*/*/.svn
global-exclude *~
global-exclude *.tmp
global-exclude *.bak
global-exclude *.old
