#batchmod_form fieldset,
#batchmod_form fieldset input,
#batchmod_form fieldset select,
.batchmod_label {
    font-size: 11px;
}

#batchmod_form fieldset input#batchmod_submit {
    font-size: 14px;
}

#batchmod_form fieldset input[type="button"]{
    padding: 0.1em 0.5em;
}

#batchmod_form th {
    text-align: right;
    white-space: nowrap;
    font-size: 11px;
}

.batchmod_property {
    width: 100%;
}

.batchmod_required {
    color: red;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    padding-left: .5em;
}
.batchmod_required:before {
    content: " * ";
}
