@import url(code.css);

#content.ticket {
 width: 58em;
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
}

#field-description-help { float: right }

#content.ticket .trac-topnav {
 float: none;
 text-align: right;
 margin-top: 0;
}

/* "Yellow Ticket Box" */
#ticket {
 background: #ffd;
 border: 1px solid #dd9;
 border-radius: .4em;
 margin-top: .2em;
 padding: .5em 1em;
 position: relative;
}

/* YTB in preview mode */
#ticket.ticketdraft {
 background: #f8f8f8 url(../draft.png);
}
#ticketchange.ticketdraft {
 overflow: auto;
 padding: 0 1em;
 margin: 1em 0;
}
#ticketchange.ticketdraft h3 {
 margin-top: .5em;
}
.preview-notice { font-weight: bold; }

.ticketdraft {
 background: #f8f8f8 url(../draft.png);
 border: 1px solid #d7d7d7;
 border-radius: .4em;
 padding: 0 .2em;
}

#trac-ticket-title {
 margin-top: .4em;
 margin-right: 0;
 clear: right;
}

#ticket > h2 {
 color: #844;
 margin: .3em 0 .4em 0;
}
#ticket > h2 .trac-id {
 font-size: 145%;
 vertical-align: middle;
 margin: 0 .4em 0 0;
}
#ticket > h2 .trac-status {
 vertical-align: middle;
}
#ticket > h2 .trac-type {
 color: #955;
 vertical-align: middle;
}
#ticket > h2 .trac-resolution {
 vertical-align: middle;
}

#ticket .date {
 color: #996;
 float: right;
 font-size: 85%;
 position: relative;
 top: -.2em;
}
#ticket .date p { margin: .3em }

#ticket table.properties {
 clear: both;
 border-top: 1px solid #dd9;
 border-collapse: collapse;
 table-layout: fixed;
 width: 100%;
}
#ticket table.properties > tbody > tr { border-bottom: 1px dotted #eed }
#ticket table.properties > tbody > tr > td,
#ticket table.properties > tbody > tr > th {
 font-size: 80%;
 padding: .5em 1em;
 vertical-align: top;
}
#ticket table.properties > tbody > tr > th {
 color: #663;
 font-weight: normal;
 text-align: left;
 width: 20%;
}
#ticket table.properties > tbody > tr > th.missing { color: #d3d398; }
#ticket table.properties > tbody > tr > td { width: 30% }
#ticket table.properties > tbody > tr > td p:first-child { margin-top: 0 }
#ticket table.properties > tbody > tr > td p:last-child { margin-bottom: 0 }
#ticket div.description h3 {
 border-bottom: 1px solid #dd9;
 color: #663;
 font-size: 100%;
 font-weight: normal;
}
#ticket div.description h3 .lastmod {
 font-size: 90%;
}
#ticket .inlinebuttons {
 float: right;
 position: relative;
 bottom: 0.3em;
}

/* Change History */
#changelog {
 padding: 1.5em 0;
}
.trac-shade { background-color: #eee }
#trac-threaded-form { float: right }

/* Threaded comments */
ul.children {
 margin-top: 1.5em;
 padding-left: 2em;
}
ul.children, ul.children ul.children { list-style-image: url(../inreply.png) }
ul.children ul, ul.children ol { list-style-image: none }
ul.children > li.child {
 padding: .1em 0 0 .5em;
 margin-bottom: 1.5em;
 border: 1px solid;
 border-color: #f8f8f8 #eee #e4e4e4 #ddd;
 border-top: 0;
 border-right: 0;
 border-radius: .8em;
}
#changelog ul.children h3 { margin-right: .4em }
#changelog pre.wiki, #changelog div.code { clear: right }
#ticketchange pre.wiki, #ticketchange div.code { clear: right }

.in-reply-to:before { content: "↑" }
.follow-up:before { content: "↓" }
.trac-most-recent-first .in-reply-to:before { content: "↓" }
.trac-most-recent-first .follow-up:before { content: "↑" }


/* Comment contents */
#changelog h3, #ticketchange h3 {
 border-bottom: 1px solid #d7d7d7;
 box-shadow: .1em .2em .4em 0 #f2f2f2;
 padding: 0 .2em;
 margin-bottom: .2em;
 color: #999;
 font-size: 100%;
 font-weight: normal;
}
@media print {
 #changelog h3, #ticketchange h3 { box-shadow: none }
}

/* Comment editor */
#trac-comment-editor { margin-left: .5em; margin-bottom: 1em }
#trac-comment-editor textarea { background: #ffffe0; }
#trac-comment-editor .wikitoolbar { clear: right }
.trac-new { border-left: 0.31em solid #c0f0c0; padding-left: 0.31em; }

.trac-loading {
  background: url(../loading.gif) 0 50% no-repeat;
  margin: 0 1em;
  padding-left: 16px;
  display: none;
}
.threading, #changelog .inlinebuttons {
 float: right;
}

.threading { font-size: 85%; }
.threading :link, .threading :visited { border-bottom: 0 }
#changelog .trac-lastedit {
 padding-left: 2.5em;
 margin-top: .8em;
 color: #999;
 font-size: 80%;
}
#changelog .trac-lastedit :link, #changelog .trac-lastedit :visited { color: inherit }

/*  - Change controls */
.trac-ticket-buttons {
 clear: right;
 visibility: hidden;
 float: right;
}
.trac-ticket-buttons form {
 display: inline-block;
}

/* - Property changes */
#changelog .changes { background: #ffd }
#ticketchange .changes { background: #f8f8f8 url(../draft.png) }
#changelog .changes, #ticketchange .changes {
 clear: right;
 width: auto;
 margin: 0 0 1.5em 2em;
 padding: 0 .8em .2em;
 color: #663;
 border: 1px solid;
 border-color: #eea #dd9 #dd9 #eea;
 border-radius: .4em;
 float: right;
 box-shadow: .1em .2em 1em #eee;
}
div.change, ul.children { clear: both; }
div.change:after {
 content: "";
 display: block;
 clear: both;
 height: 0;
}

.changes th {
 text-align: right;
 vertical-align: baseline;
 padding: .4em .7em .4em 0;
 font-size: 85%;
 border-top: 1px dotted #eed;
}
.changes td {
 font-size: 85%;
 padding: .4em 0 .4em 0;
 border-top: 1px dotted #eed;
}
.changes tr:first-child th, .changes tr:first-child td { border-top: none }
.changes .trac-field-new { font-weight: bold }
.changes .trac-field-deleted { text-decoration: line-through }

.trac-conflict, .trac-conflict th {
 border-left: .3em solid #e44;
 padding-left: .3em;
}
#changelog .comment, #ticketchange .comment { margin-left: .5em }
button.trac-revert, button.trac-revert:hover {
 margin: 0;
 padding: 0;
 border: none;
 border-bottom: 1px dotted #bbb;
 overflow: visible;
 cursor: pointer;
 background: none;
 color: #b00;
 text-decoration: none;
 -moz-user-select: text;
}
button.trac-revert:hover { background-color: #eee; color: #555; }
button.trac-revert div { display: none; }

form .field { margin-top: .75em; width: 100% }
form .field fieldset { margin-left: 1px; margin-right: 1px }
#trac-add-comment .author { margin-bottom: 1em; }
#trac-add-comment table th { text-align: left; width: 22%; }
#trac-add-comment table td { width: 78%; }
label[for=comment] { float: right }

#propertyform {
 clear: both;
 margin-bottom: 2em; 
}
#propertyform table.trac-properties {
 border-spacing: 0;
 table-layout: fixed;
 width: 100%;
}
#propertyform table.trac-properties td input[type="text"],
#propertyform table.trac-properties td textarea {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 width: 100%;
}
#properties { white-space: nowrap; line-height: 160%; padding: 1em }
#properties table.trac-properties > tbody > tr > th,
#properties table.trac-properties > colgroup > col.th {
 padding: .4em;
 text-align: right;
 vertical-align: middle;
 white-space: normal;
 width: 17%;
}
#properties table.trac-properties > tbody > tr > th.col2 { border-left: 1px dotted #d7d7d7 }
#properties table.trac-properties > tbody > tr > td,
#properties table.trac-properties > colgroup > col.td {
 padding-right: 0.6em;
 vertical-align: middle;
 width: 33%
}
#properties table.trac-properties > tbody > tr > th.trac-textarea { vertical-align: top }
#properties table.trac-properties > tbody > tr > td.fullrow { width: 83% }
#properties table.trac-properties > tbody > tr > td.col1 > label,
#properties table.trac-properties > tbody > tr > td.col2 > label { float: left; margin-right: 0.5em; }
#properties table.trac-properties > tbody > tr > td > select { max-width: 100% }
#properties table.trac-properties > tbody > tr > td > span.hint { padding-left: 0 }

#action { line-height: 2em }

fieldset.radio { border: none; margin: 0; padding: 0 }
fieldset.radio legend {
 color: #000;
 float: left;
 font-size: 100%;
 font-weight: normal;
 padding: 0 1em 0 0;
}
fieldset.radio label { padding-right: 1em }

#content.ticket .trac-nav a { margin-left: 1em; }
