{#  This file allows customizing the appearance of the Trac installation.

    Add your customizations to the the start of the HTML <body> content here
    and rename the file to site_header.html.

    Note that it will take precedence over a global site_header.html placed
    in the directory specified by [inherit] templates_dir.

    More information about site appearance customization can be found here:

      https://trac.edgewall.org/wiki/TracInterfaceCustomization#SiteAppearance
#}

