<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <head>
    <title>$title</title>
  </head>

  <body>
    <div id="content" class="wiki"
      py:with="current_href = href.wiki(page.name);
               what = (new_version and old_version and new_version - old_version &gt; 1) and 'multiple'
                      or new_version and 'single' or 'page'">
      <h1 py:choose="what">
        <py:when test="'multiple'"><i18n:msg params="from, to, name">
          Delete versions ${old_version + 1} to $new_version of <a href="$current_href">$page.name</a>
        </i18n:msg></py:when>
        <py:when test="'single'"><i18n:msg params="version, name">
          Delete version $new_version of <a href="$current_href">$page.name</a>
        </i18n:msg></py:when>
        <py:otherwise><i18n:msg params="name">
          Delete <a href="$current_href">$page.name</a>
        </i18n:msg></py:otherwise>
      </h1>
      <form action="$current_href" method="post">
        <p>
          <input type="hidden" name="action" value="delete" />
          <strong py:choose="what">
            <py:when test="'multiple'"><i18n:msg params="from, to">
              Are you sure you want to delete versions ${old_version + 1} to $new_version of this page?
            </i18n:msg></py:when>
            <py:when test="'single'"><i18n:msg params="version">
              Are you sure you want to delete version $new_version of this page?
            </i18n:msg></py:when>
            <py:otherwise>Are you sure you want to completely delete this page?</py:otherwise>
          </strong>
          <br />
          <py:if test="num_versions == 1">
            This is the only version the page, so the page will be removed completely!
          </py:if>
          <input py:if="new_version" type="hidden" name="version" value="$new_version" />
          <input py:if="old_version" type="hidden" name="old_version" value="$old_version" />
          This is an irreversible operation.
        </p>
        <div class="buttons">
          <input type="submit" name="cancel" value="${_('Cancel')}" />
          <input type="submit" value="${what == 'multiple' and _('Delete those versions')
                                        or what == 'single' and _('Delete this version')
                                        or _('Delete page')}" />
        </div>
      </form>
    </div>
  </body>
</html>
