<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <head>
    <title>$title</title>
  </head>

  <body>
    <div id="content" class="wiki" py:with="current_href = href.wiki(page.name)">
      <h1>
        <i18n:msg params="version, name">
          Edit comment for version $page.version of <a href="$current_href">$page.name</a>
        </i18n:msg>
      </h1>
      <form id="edit-comment-form" action="$current_href" method="post">
        <p>
          Old comment: ${wiki_to_oneliner(context, page.comment or '--')}
        </p>
        <div class="field">
          <label>New comment:
            <input type="hidden" name="action" value="edit_comment" />
            <input type="text" name="new_comment" class="trac-autofocus wikitext"
                   size="40" value="$page.comment" />
          </label>
        </div>
        <div class="buttons">
          <input type="hidden" name="version" value="$page.version" />
          <input type="submit" name="submit" class="trac-disable-on-submit" value="${_('Submit changes')}" />
          <input type="submit" name="cancel" value="${_('Cancel')}" />
        </div>
      </form>
    </div>
  </body>
</html>
