<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title py:if="title">$title</title>
    <meta py:if="version" name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#content").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
      });
    </script>
  </head>

  <body>
    <div id="content" class="wiki">

      <p class="path noprint" py:if="'/' in page.name" py:with="parts = page.name.split('/')">
        <py:for each="idx, part in enumerate(parts)"><a
          class="pathentry" title="View ${'/'.join(parts[:idx + 1])}" href="${href.wiki(*parts[:idx + 1])}">${part}</a><span
          class="pathentry sep" py:if="idx != len(parts) - 1">/</span></py:for>
        <br style="clear: both" />
      </p>

      <py:if test="version">
        <table id="info" summary="Revision info">
          <tbody>
            <tr><th scope="row">
                Version $page.version (modified by ${authorinfo(page.author)}, ${dateinfo(page.time)} ago)
            </th></tr>
            <tr><td class="message" xml:space="preserve">
              ${wiki_to_html(context, page.comment or '--')}
            </td></tr>
          </tbody>
        </table>
      </py:if>

      <div class="wikipage searchable" py:choose="" xml:space="preserve">
        <py:when test="page.exists" xml:space="preserve">
          ${wiki_to_html(context, page.text)}
        </py:when>
        <py:otherwise>
          Describe ${name_of(page.resource)} here.
        </py:otherwise>
      </div>

      ${list_of_attachments(attachments, compact=True)}

      <py:with vars="modify_perm = 'WIKI_MODIFY' in perm(page.resource);
                     delete_perm = 'WIKI_DELETE' in perm(page.resource);
                     admin_perm = 'WIKI_ADMIN' in perm(page.resource)">
        <py:if test="admin_perm or (not page.readonly and (modify_perm or delete_perm))">
          <div class="buttons">
            <py:if test="modify_perm">
              <form method="get" action="${href.wiki(page.name)}" id="modifypage">
                <div>
                  <input type="hidden" name="action" value="edit" />
                  <py:choose>
                    <py:when test="page.exists">
                      <input type="submit" value="${_('Edit this page')}" accesskey="e" />
                    </py:when>
                    <py:otherwise>
                      <input type="submit" value="${_('Create this page')}" accesskey="e" />
                      <div py:if="templates" id="template">
                        <label for="template">Using the template:</label>
                        <select name="template">
                          <option selected="${not default_template in templates and 'selected' or None}"
                                  value="">(blank page)</option>
                          <option py:for="t in templates"
                                  selected="${t == default_template or None}">$t</option>
                        </select>
                      </div>
                    </py:otherwise>
                  </py:choose>
                </div>
              </form>
              <py:if test="page.exists">
                ${attach_file_form(attachments)}
              </py:if>
            </py:if>
            <py:if test="page.exists and delete_perm">
              <form method="get" action="${href.wiki(page.name)}">
                <div id="delete">
                  <input type="hidden" name="action" value="delete" />
                  <input type="hidden" name="version" value="$page.version" />
                  <py:if test="page.version == latest_version">
                    <input type="submit" name="delete_version" value="${_('Delete this version')}" />
                  </py:if>
                  <input type="submit" value="${_('Delete page')}" />
                </div>
              </form>
            </py:if>
          </div>
        </py:if>
      </py:with>

    </div>
  </body>
</html>
