<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title py:choose="action">
      <py:when test="'delete'"><i18n:msg params="id">Delete Ticket #$ticket.id</i18n:msg></py:when>
      <py:otherwise><i18n:msg params="num, id">Delete comment $del_cnum on Ticket #$ticket.id</i18n:msg></py:otherwise>
    </title>
  </head>

  <body>
    <div id="content" class="ticket" py:choose="action">
      <py:when test="'delete'">
        <h1 id="trac-ticket-title">
          <span i18n:msg="id" py:strip="">Delete <a href="${href.ticket(ticket.id)}">Ticket #$ticket.id</a></span>
          <span class="status">($ticket.status<py:if
              test="ticket.type"> $ticket.type</py:if><py:if
              test="ticket.resolution">: $ticket.resolution</py:if>)</span>
        </h1>
        
        <xi:include href="ticket_box.html" py:with="can_append = False; preview_mode = False"/>
        
        <form id="edit" action="" method="post">
          <div>
            <input type="hidden" name="action" value="delete"/>
            <p>
              <strong>Are you sure you want to delete this ticket?</strong>
              <i18n:msg params="comments, attachments">
                (comments: ${sum(1 for change in changes if 'cnum' in change)},
                 attachments: ${sum(1 for change in changes if 'cnum' not in change)})
              </i18n:msg><br/>
              This is an irreversible operation.
            </p>
          </div>
          <div class="buttons">
            <input type="submit" name="cancel" value="${_('Cancel')}"/>
            <input type="submit" value="${_('Delete ticket')}"/>
          </div>
        </form>
      </py:when>

      <py:otherwise>
        <h1 i18n:msg="num, id">Delete comment $del_cnum on Ticket #$ticket.id</h1>
        
        <div id="changelog">
          <div class="change">
            <h3 class="change">
              <span class="threading" py:if="'cnum' in change"
                    py:with="change_replies = replies.get(str(change.cnum), [])">
                <span class="cnum">comment:$change.cnum</span>
              </span>
              <i18n:msg params="date, author">Changed ${dateinfo(change.date)} ago by ${authorinfo(change.author)}</i18n:msg>
            </h3>
            <xi:include href="ticket_change.html"/>
          </div>
        </div>
        
        <form id="edit" action="" method="post">
          <div>
            <input type="hidden" name="action" value="delete-comment"/>
            <input type="hidden" name="cnum" value="$del_cnum"/>
            <p><strong>Are you sure you want to delete this ticket comment?</strong><br/>
               This is an irreversible operation.</p>
          </div>
          <div class="buttons">
            <input type="submit" name="cancel" value="${_('Cancel')}"/>
            <input type="submit" value="${_('Delete comment')}"/>
          </div>
        </form>
      </py:otherwise>
    </div>
  </body>
</html>
