<!--!
Display a list of attachments.

Arguments:
 - stats: 
 - interval_hrefs: 
 - percent=None: 
 - legend=True: 
 - style=None: 
 - stats_href=None: 
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:with="percent = value_of('percent', None);
               legend = value_of('legend', True);
               style = value_of('style', None);
               stats_href = value_of('stats_href', None)" py:strip="">
  <table class="progress" style="$style">
    <tr>
      <td py:for="idx, interval in enumerate(stats.intervals)"
          class="$interval.css_class" style="${interval.percent and 'width: %d%%' % interval.percent or 'display: none'}">
          <a href="${interval_hrefs and interval_hrefs[idx] or None}"
             title="${ngettext('%(num)s of %(total)s %(unit)s %(title)s',
                               '%(num)s of %(total)s %(units)s %(title)s', interval.count,
                               total=stats.count, unit=stats.unit, units=stats.units, title=interval.title)}"></a>
      </td>
    </tr>
  </table>
  <p class="percent">${percent is None and '%d%%' % stats.done_percent or percent}</p>
  <dl py:if="legend">
    <py:for each="idx, interval in enumerate(stats.intervals)">
      <py:with vars="href = interval_hrefs and interval_hrefs[idx] or None">
        <dt>
          <a href="${href}">
           ${ngettext('%(title)s %(unit)s:', '%(title)s %(units)s:', interval.count,
                      title=interval.title.capitalize(),
                      unit=stats.unit, units=stats.units)}</a>
        </dt>
        <dd><a href="${href}">${interval.count}</a></dd>
      </py:with>
    </py:for>
    <py:with vars="num = sum([x.count for x in stats.intervals], 0)">
      <dt>/
        <a href="${stats_href}">
          ${ngettext('Total %(unit)s:', 'Total %(units)s:', num,
                     unit=stats.unit, units=stats.units)}</a>
      </dt>
      <dd><a href="${stats_href}">${num}</a></dd>
    </py:with>
  </dl>
</html>
