body {
 background: #fff;
 margin: 10px;
 padding: 0;
 color: #000;
 font: normal 100% 'Bitstream Vera Sans', Verdana, Helvetica, Arial, sans-serif;
}
hr,.hide { display: none; }
a:link, a:visited, a.noline {
 text-decoration: none;
 color: #b00;
 border-bottom: 1px dotted #bbb;
}
a:hover { 
 color: #b00; 
 background: #f7f7f7;
}
a.noline { border-bottom: none; }
address { font-style: normal; }
img { border: none }

/*
 * Forms 
 */

input, textarea, select { 
  border: 1px solid #ccc;
  background: #fff;
}
input[type="submit"], input[type="reset"] { background: #eee; }
input[type="submit"]:hover, input[type="reset"]:hover { background: #ccb; }
option {  border-bottom: 1px solid #ccc; }

/* Header */

#header { }
#hdrlogo,#hdrlogo img,#hdrlogo:hover { 
 background: transparent;
 margin-bottom: -1em;
}
#header-links, #subheader-links, #navbar { 
 font: normal 11px Verdana, 'Bitstream Vera Sans', Helvetica, Arial, sans-serif;
 color: #000;
}
#header-links, #subheader-links { 
 padding: 0 1em;
 text-align: right; 
}
#subheader-links a,#header-links a { padding: 0 .5em; }

/* Navbar  */ 

#navbar { 
 clear: both;
 border: 1px solid #999;
 background: #eee;
 margin: .15em 0;
}
#navbar-links { float: right }
a.navbar-link, a.navbar-link-active,a.navbar-link-active:hover { 
 display: block;
 float: left;
 border-left: 1px solid #999;
 border-bottom: none;
 margin: 0;
 padding: .1em 1.5em;
 color: #000;
 background: url(/trac_common/dots.gif) top left no-repeat;
}
a.navbar-link-active { 
 background: #ccc;
 font-weight: bold;
}
a.navbar-link:hover { background-color: #ccb; }

#page-content { 
 clear: both;
}

/* Wiki */

#wiki-history { 
 visibility: hidden;
 background: #f7f7f0;
 border: 1px solid #999;
 font-size: 75%;
 position: absolute;
 display: inline;
 margin: 10px;
 right:10px;
 border-collapse: separate;
 border-spacing: 0;
 padding: .5em;
}
a.wiki-history-link { 
 display: block;
 border: none;
}
a.wiki-history-link:hover,tr.wiki-history-row:hover {  
 background: #ccb;
 color: #b00;
}
a.wiki-missing-page:link
{
  color: #998;
  background: #fafaf0;
}
a.wiki-missing-page:hover { color: #000; }

#wiki-body { 
 line-height: 140%;
 margin: 1em;
}

/* Footer */

#footer { 
 font-size: 75%;
 color: #bbb;
 border-top: 1px solid;
 padding: .5em 0;
}
#footer a { color: #bbb }
#footer-left { 
 float: left; 
 padding: 0 1em;
 border-left: 1px dashed;
 border-right: 1px dashed;
}
#footer-right {  text-align: right }
#footer-logo {
 float: left;
 margin-right: 1em; 
 margin-top: .3em;
}

/* Browser */

#browser-rev { 
 font-size: 110%; 
 margin-right: 1em;
 }
#browser-chgrev { 
 display: inline;
 margin: 0;
 float: right;
 font-size: 9px;
 width: 15em;
 text-align: right;
}
#browser-chgrev input { text-align: center }
#browser-pathlinks { padding: 0; }
#browser-list
{
  clear: both;
  margin: 1em 0 2em 0;
  border-bottom: 1px solid #eee;
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 130%;
}
tr.browser-listhdr { border-bottom: 1px solid #eee; }
tr.browser-listhdr th { 
 text-align: left;
 padding: 0 .5em;
 font-size: 13px;
}
#browser-list a { 
  display: block;
 border-bottom: none;
 background: transparent;
}
#browser-list td { padding: 0 .25em; }
tr.br-row-even, tr.br-row-odd { border-top: 1px solid #eee; }
tr.br-row-even { background-color: #fff; }
tr.br-row-odd { background-color: #f7f7f7; }
tr.br-row-even:hover,tr.br-row-odd:hover { 
 background: #eed;
}
td.br-size-col,td.br-rev-col,td.br-date-col { 
 border-left: thin dotted #dddddd; 
}
td.br-icon-col { }
td.br-rev-col { text-align: center }
td.br-size-col, td.br-rev-col, td.br-date-col { color: #888 }
td.br-icon-col, td.br-report-col, td.br-ticket-col { width: 1em; }