body {
 background: #fff;
 margin: .5em;
 padding: 0;
 color: #000;
 font: normal 100% 'Bitstream Vera Sans', Verdana, Helvetica, Arial, sans-serif;
}

hr,.hide { display: none; }

a,a.noline {
 text-decoration: none;
 color: #b00;
 border-bottom: 1px dotted #bbb;
}

a:hover { color: #999; }

a.noline { border-bottom: none; }

address { font-style: normal; }

img { b}

#header-links, #subheader-links, #navbar { 
 font: normal 11px Verdana, 'Bitstream Vera Sans', Helvetica, Arial, sans-serif;
 color: #000;
}

#header-links, #subheader-links { 
 padding: 0 1em;
 text-align: right; 
}


/* Navbar  */ 
#navbar { 
 border: 1px solid #999;
 background: #eee;
}

#navbar-links { float: right;}

.navbar-link,.navbar-link-active,.navbar-link-active:hover { 
 display: block;
 float: left;
 border-left: 1px solid #999;
 border-bottom: none;
 margin: 0;
 padding: .1em 1.5em;
 color: #000;
 background: url(/trac_common/dots.gif) top left no-repeat;

}

.navbar-link-active { 
 background: #ccc;
 font-weight: bold;
}

.navbar-link:hover { 
 background-color: #ccb;
}



#hdrlogo { border: none; }

#hdrlogo img { border: none }


#footer { 
 font-size: 75%;
 color: #999;
 border-top: 1px solid #d7d7d7;
 padding: .5em;
}

#footer-left { 
 float: left; 
 width: 50%;
}

#footer-right { text-align: right; }