%(header)s

<h3>Log history for: %(path)s</h3>

<table class="listing" cellspacing="0" cellpadding="0">
<tr class="listing-header"><th class="listing">date</th><th class="listing">revision</th><th class="listing">change set</th><th class="listing">log message</th></tr>
%(log_entries)s
</table>

%(footer)s
