<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     id="content" class="report">

  <h1>$report.title</h1>
  <form action="${href.report(report.id)}" method="post">
    <div>
      <input type="hidden" name="action" value="$action" />
      <div class="field">
        <label for="title">Report Title:</label><br/>
        <input type="text" id="title" name="title" value="$report.title" size="50"/><br/>
      </div>
      <div class="field">
        <label for="description">
          Description: (you may use <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a> here)
        </label>
        <br/>
        <textarea id="description" name="description" class="wikitext" rows="10" cols="78">
$report.description</textarea>
      </div>
      <div class="field">
        <label for="query">SQL Query for Report:</label><br/>
        <textarea id="query" name="query" cols="85" rows="20">
$report.sql</textarea>
      </div>
      <div class="buttons">
        <input type="submit" value="Save report"/>
        <input type="submit" name="cancel" value="Cancel"/>
      </div>
    </div>
    <script type="text/javascript" src="${htdocs_location}js/wikitoolbar.js"></script>
  </form>
</div>
