<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     id="content" class="report">

  <h1>$report.title
    <span py:if="numrows and report.id != -1" class="numrows">($numrows matches)</span>
  </h1>

  <div py:if="report.description" id="description">$report.description</div>

  <div py:if="report.id != -1 and (report.can.create or report.can.modify or report.can.delete)" class="buttons">
    <form py:if="report.can.modify" action="" method="get">
      <div>
        <input type="hidden" name="action" value="edit" />
        <input type="submit" value="Edit report" accesskey="e" />
      </div>
    </form>
    <form py:if="report.can.create" action="" method="get">
      <div>
        <input type="hidden" name="action" value="copy" />
        <input type="submit" value="Copy report" />
      </div>
    </form>
    <form py:if="report.can.delete" action="" method="get">
      <div>
        <input type="hidden" name="action" value="delete" />
        <input type="submit" value="Delete report" />
      </div>
    </form>
  </div>

  <py:for each="value_for_group, row_group in row_groups">
    <h2 py:if="value_for_group">$value_for_group</h2>
    <table class="listing ${report.id == -1 and 'reports' or 'tickets'}">
      <thead>
        <tr py:for="header_group in header_groups">
          <th py:for="header in header_group" py:if="not header.hidden" py:with="fullrow = header is header_group[-1]"
            colspan="${fullrow and '100' or None}">
            <a py:strip="not sorting_enabled"
              href="${href.report(report.id, sort=header.col, asc=not header.asc and '1' or '0', **report.args)}">
              $header.title
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <py:for each="row in row_group">
          <tr py:for="cell_group in row.cell_groups"
            py:with="fullrow = len(cell_group) == 1;
                     td_attrs = fullrow and {'class': 'fullrow', 'colspan': 100} or {}"
            class="${row.__color__ and 'color'+row.__color__+'-' or ''}${row.__idx__ % 2 and 'odd' or 'even'}"
            style="${row.__bgcolor__ and 'background: '+row.__bgcolor__+';'
            }${row.__fgcolor__ and 'color: '+row.__fgcolor__+';'
            }${row.__style__ and row.__style__+';'
            }${fullrow and ';border: none; padding: 0;' or ''}">

            <py:for each="cell in cell_group">
              <py:if test="not cell.header.hidden">
                <py:with vars="col = cell.header.col.strip('_')">
                  <py:choose>

                    <!--! for the report listing -->
                    <py:when test="col == 'report'">
                      <py:def function="cellclass">report</py:def>
                      <py:def function="content">
                        <a title="View report" href="${href.report(cell.value)}">{$cell.value}</a>
                      </py:def>
                    </py:when>

                    <py:when test="col == 'title' and report.id == -1">
                      <py:def function="cellclass">title</py:def>
                      <py:def function="content">
                        <a title="View report" href="${href.report(row.id)}">$cell.value</a>
                      </py:def>
                    </py:when>

                    <!--! for the ticket listing -->
                    <py:when test="col in ('ticket', 'id')">
                      <py:def function="cellclass">ticket</py:def>
                      <py:def function="content">
                        <a title="View ticket" href="${href.ticket(cell.value)}">#$cell.value</a>
                      </py:def>
                    </py:when>

                    <py:when test="col == 'summary' and row.id">
                      <py:def function="cellclass">summary</py:def>
                      <py:def function="content">
                        <a title="View ticket" href="${href.ticket(row.id)}">$cell.value</a>
                      </py:def>
                    </py:when>

                    <!--! generic fields -->
                    <py:when test="col == 'time'">
                      <py:def function="cellclass">date</py:def>
                      <py:def function="content">${cell.value != 'None' and format_time(int(cell.value)) or '--'}</py:def>
                    </py:when>

                    <py:when test="col in ('date', 'created', 'modified')">
                      <py:def function="cellclass">date</py:def>
                      <py:def function="content">${cell.value != 'None' and format_date(int(cell.value)) or '--'}</py:def>
                    </py:when>

                    <py:when test="col == 'datetime'">
                      <py:def function="cellclass">date</py:def>
                      <py:def function="content">${cell.value != 'None' and format_datetime(int(cell.value)) or '--'}</py:def>
                    </py:when>

                    <py:when test="col == 'description'">
                      <py:def function="cellclass"></py:def>
                      <py:def function="content">$cell.parsed</py:def>
                    </py:when>

                    <py:otherwise>
                      <py:def function="cellclass">$col</py:def>
                      <py:def function="content">$cell.value</py:def>
                    </py:otherwise>

                  </py:choose>
                </py:with>
                <td class="$cellclass" py:attrs="td_attrs">
                  $content <hr py:if="fullrow"/>
                </td>
              </py:if>
            </py:for>
          </tr>
        </py:for>
      </tbody>
    </table>
  </py:for>

  <div py:if="report.id == -1 and report.can.create" class="buttons">
    <form action="" method="get">
      <div>
        <input type="hidden" name="action" value="new" />
        <input type="submit" value="Create new report" />
      </div>
    </form>
  </div>


  <div py:if="report.message" class="system-message">$report.message</div>
  <div py:if="numrows == 0" id="report-notfound">No matches found.</div>
</div>
