<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Roadmap</title>
    <link rel="stylesheet" type="text/css"
          href="${chrome.htdocs_location}css/roadmap.css" />
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="roadmap">
      <h1>Roadmap</h1>

      <form id="prefs" method="get" action="">
        <div>
          <input type="checkbox" id="showall" name="show" value="all"
                 checked="${showall or None}" />
          <label for="showall">Show already completed milestones</label>
        </div>
        <div class="buttons">
          <input type="submit" value="Update" />
        </div>
      </form>

      <ul class="milestones">
        <li py:for="milestone in milestones" class="milestone">

          <div class="info">
            <h2><a href="${milestone.href}">Milestone: <em>${milestone.name}</em></a></h2>
            <py:choose>
              <p py:when="milestone.completed" title="${format_date(milestone.completed)}"
                 class="date">Completed ${pretty_timedelta(milestone.completed)} ago</p>
              <p py:when="milestone.due" title="${format_date(milestone.due)}"
                 class="date">Due in ${pretty_timedelta(milestone.due + timedelta(days=1))}</p>
              <p py:otherwise="" class="date">No date set</p>
            </py:choose>
            <py:if test="milestone.stats.total_tickets"
                   py:with="stats = milestone.stats; queries = milestone.queries">
              <table class="progress">
                <td class="closed" style="width: ${stats.percent_closed}%">
                  <a href="$queries.closed_tickets"
                     title="${stats.active_tickets} of ${stats.total_tickets} ticket${stats.total_tickets != 1 and 's' or ''} closed"></a>
                </td>
                <td class="open" style="width: ${stats.percent_active}">
                  <a href="$queries.active_tickets"
                     title="${stats.active_tickets} of ${stats.total_tickets} ticket${stats.total_tickets != 1 and 's' or ''} active"></a>
                </td>
              </table>
              <p class="percent">${stats.percent_closed}%</p>
              <dl>
                <dt>Closed tickets:</dt>
                <dd><a href="$queries.closed_tickets">${stats.closed_tickets}</a></dd>
                <dt>Active tickets:</dt>
                <dd><a href="$queries.active_tickets">${stats.active_tickets}</a></dd>
              </dl>
            </py:if>
          </div>

          <div class="description">${milestone.description}</div>

        </li>
      </ul>

      <div py:if="perm.has_permission('MILESTONE_CREATE')" class="buttons">
       <form method="get" action="${href.milestone}"><div>
        <input type="hidden" name="action" value="new" />
        <input type="submit" value="Add new milestone" />
       </div></form>
      </div>

    </div>

    <div id="help"><strong>Note:</strong> See
      <a href="${href.wiki('TracRoadmap')}">TracRoadmap</a> for help on using
      the roadmap.
    </div>

  </body>
</html>
