<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Search<py:if test="query"> Results</py:if></title>
    <script type="text/javascript">
      $(document).ready(function() {$("#q").get(0).focus()});
    </script>
  </head>

  <div py:def="paging" class="paging" py:if="results.has_more_pages">
    <span py:if="results.has_previous_page"
          py:with="prevlink = chrome.links.prev[0]" class="previous">
      <a href="${prevlink.href}" title="${prevlink.title}">&larr;</a>
    </span>
    <span py:for="num in range(max(0, results.page - 10),
                               min(results.page + 11, results.num_pages))">
      <a href="${page_href}&amp;page=${num + 1}"
         py:strip="num == results.page">${num + 1}</a>
    </span>
    <span py:if="results.has_next_page"
          py:with="nextlink = chrome.links.next[0]" class="next">
      <a href="${nextlink.href}" title="${nextlink.title}">&rarr;</a>
    </span>
  </div>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="search">

      <h1><label for="q">Search</label></h1>
      <form action="${href.search()}" method="get">
        <p>
          <input type="text" id="q" name="q" size="40" value="${query}" />
          <input type="hidden" name="noquickjump" value="1" />
          <input type="submit" value="Search" />
        </p>
        <p class="filters">
          <py:for each="filter in filters">
            <input type="checkbox" id="${filter.name}" name="${filter.name}"
                   checked="${filter.active and 'checked' or None}" />
            <label for="${filter.name}">${filter.label}</label>
          </py:for>
       </p>
      </form>

      <py:if test="results or quickjump"><hr />
        <h2>
          Results
          <span class="numresults">
            (${results.span[0] + 1} - ${results.span[1]} of ${results.num_items})
          </span>
        </h2>
        ${paging()}
        <div>
          <dl id="results">
            <py:if test="quickjump">
              <dt id="quickjump">
                <a href="${quickjump.href}">Quickjump to ${quickjump.name}</a>
              </dt>
              <dd>${quickjump.description}</dd>
            </py:if>
            <py:for each="result in results">
              <dt><a href="${result.href}" class="searchable">${result.title}</a></dt>
              <dd class="searchable">${result.excerpt}</dd>
              <dd>
                <span class="author">By ${result.author}</span> &mdash;
                <span class="date">${result.date}</span>
                <py:if test="result.keywords">
                  &mdash; <span class="keywords">Keywords: <em class="searchable">${result.keywords}</em></span>
                </py:if>
              </dd>
            </py:for>
          </dl>
        </div>
        ${paging()}
      </py:if>

      <div id="notfound" py:if="query and not (results or quickjump)">
        No matches found.
      </div>

      <div id="help">
        <strong>Note:</strong> See <a href="${href.wiki('TracSearch')}">TracSearch</a>
        for help on searching.
      </div>

    </div>
  </body>
</html>
