<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html"><xi:fallback/></xi:include>
  <xi:include href="macros.html"><xi:fallback/></xi:include>

  <head>
    <title>$title</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav">
      <h2>Wiki Navigation</h2>
      <ul>
        ${changeset_navigation('Change', [('Page History', href.wiki(page.name, action='history'))])}
      </ul>
      <hr />
    </div>

    <div id="content" class="wiki">
      <h1 py:choose="">Changes
        <py:when test="old_version">between
          <a href="${href.wiki(page.name,version=old_version)}">Version $old_version</a> and
        </py:when>
        <py:otherwise>from</py:otherwise>
        <a href="${href.wiki(page.name,version=new_version)}">Version $page.version</a> of
        <a href="${href.wiki(page.name)}">$page_name</a>
      </h1>
      <form method="post" id="prefs" action="${href.wiki(page.name)}">
        <div>
          <input type="hidden" name="action" value="diff" />
          <input type="hidden" name="version" value="$new_version" />
          <input type="hidden" name="old_version" value="$old_version" />
          ${diff_options_fields(diff)}
        </div>
      </form>
      <dl id="overview" py:with="multi = num_changes &gt; 1">
        <dt class="property time">Timestamp:</dt>
        <dd class="time" py:choose="">
          <em py:when="multi" class="multi">(multiple changes)</em>
          <py:when test="date">${format_datetime(date)} (${pretty_timedelta(date)} ago)</py:when>
          <py:otherwise>--</py:otherwise>
        </dd>
        <dt class="property author">Author:</dt>
        <dd class="author" py:choose="">
          <em py:when="multi" class="multi">(multiple changes)</em>
          <py:otherwise>$author <span class="ipnr">(IP: $ipnr)</span></py:otherwise>
        </dd>
        <dt class="property message">Comment:</dt>
        <dd class="message" py:choose="">
          <em py:when="multi" class="multi">(multiple changes)</em>
          <py:otherwise>$comment</py:otherwise>
        </dd>
      </dl>
      <div class="diff">
        <div id="legend">
          <h3>Legend:</h3>
          <dl>
            <dt class="unmod"></dt><dd>Unmodified</dd>
            <dt class="add"></dt><dd>Added</dd>
            <dt class="rem"></dt><dd>Removed</dd>
            <dt class="mod"></dt><dd>Modified</dd>
          </dl>
        </div>

        <xi:include href="diff_div.html"/>

        <form py:if="perm.has_permission('WIKI_DELETE') and (not changes[0].diffs or new_version == latest_version)"
          method="get" action="${href.wiki(page.name)}">
          <input type="hidden" name="action" value="delete" />
          <input type="hidden" name="version" value="$new_version" />
          <input type="hidden" name="old_version" value="$old_version" />
          <input type="submit" name="delete_version" value="Delete ${
            new_version - old_version &gt; 1 and 'version %d to ' % (old_version+1) or ''
            }version $new_version" />
        </form>
      </div>
    </div>
  </body>
</html>
