<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Delete Milestone ${milestone.name}</title>
    <link rel="stylesheet" type="text/css"
          href="${chrome.htdocs_location}css/roadmap.css" />
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#retarget").click(function(){ $("#target").enable(this.checked) });
      });
    </script>
  </head>

  <body>
    <div id="content" class="milestone">
      <h1>Delete Milestone ${milestone.name}</h1>

    <form id="edit" action="" method="post">
      <div>
        <input type="hidden" name="action" value="delete" />
        <p><strong>Are you sure you want to delete this milestone?</strong></p>
        <input type="checkbox" id="retarget" name="retarget" checked="checked" />
        <label for="target">Retarget associated tickets to milestone</label>
        <select name="target" id="target">
          <option value="">None</option>
          <optgroup py:for="(label, milestones) in milestone_groups"
                    py:if="milestones" label="${label}">
            <option py:for="milestone in milestones"
                    value="${milestone.name}" py:content="milestone.name"></option>
          </optgroup>
        </select>
      </div>
      <div class="buttons">
        <input type="submit" name="cancel" value="${_('Cancel')}" />
        <input type="submit" value="${_('Delete milestone')}" />
      </div>
    </form>

    <div id="help" i18n:msg=""><strong>Note:</strong> See
      <a href="${href.wiki('TracRoadmap')}">TracRoadmap</a> for help on using
      the roadmap.
    </div>

    </div>
  </body>
</html>
