<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>$title</title>
  </head>

  <body>
    <div id="content" class="report">

      <h1>${action == 'new' and _('New Report') or report.title}</h1>
      <form action="${href.report(report.id)}" method="post" id="edit_report">
        <div>
          <input type="hidden" name="action" value="$action" />
          <div class="field">
            <label for="title">Report Title:</label><br />
            <input type="text" id="title" name="title" value="$report.title" size="50"/><br />
          </div>
          <div class="field">
            <label for="description" i18n:msg="">
              Description: (you may use <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a> here)
            </label>
            <br />
            <textarea id="description" name="description" class="wikitext trac-resizable" rows="10" cols="78">
$report.description</textarea>
          </div>
          <div class="field">
            <div class="system-message" py:if="error">
              <strong>Error:</strong> $error
            </div>
            <label for="query" i18n:msg="">Query for Report: (can be either SQL or, if starting with <tt>query:</tt>,
              a <a tabindex="42" href="${href.wiki('TracQuery') + '#QueryLanguage'}">TracQuery</a> expression)
            </label><br />
            <textarea id="query" name="query" class="trac-resizable" cols="85" rows="20">
$report.sql</textarea>
          </div>
          <div class="buttons">
            <input type="submit" value="${_('Save report')}"/>
            <input type="submit" name="cancel" value="${_('Cancel')}"/>
          </div>
        </div>
      </form>

      <div id="help" i18n:msg="">
        <strong>Note:</strong>
        See <a href="${href.wiki('TracReports')}">TracReports</a> for help on using and creating reports.
      </div>
    </div>
  </body>
</html>
