<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title>$path</title>
    <meta py:if="file and file.annotate" name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <meta py:if="dir" name="ROBOTS" content="NOINDEX" />
    <script type="text/javascript">
      $(document).ready(function() {
        $("#jumploc input").hide();
        $("#jumploc select").change(function () {
          this.parentNode.parentNode.submit();
        })

        <py:if test="dir">
          /* browsers using old WebKits have issues with expandDir... */
          var webkit_rev = /AppleWebKit\/(\d+)/.exec(navigator.userAgent);
          if ( !webkit_rev || (521 - webkit_rev[1]).toString()[0] == "-" )
            enableExpandDir(null, $("#dirlist tr"), {
                action: 'inplace',
                range_min_secs: '$dir.range_min_secs',
                range_max_secs: '$dir.range_max_secs'
            });
        </py:if>
        <py:if test="file and file.annotate">
          enableBlame("${href.changeset()}/", "${reponame}", "${path}");
        </py:if>
      });
    </script>
  </head>

  <body>
    <div id="content" class="browser">

      <py:def function="sortable_th(class_, title)">
        <th class="$class_${order == class_ and (desc and ' desc' or ' asc') or ''}">
          <a title="Sort by $class_${order == class_ and not desc and
                                     ' (descending)' or ''}"
            href="${href.browser(reponame, path, rev=stickyrev, order=(class_ != 'name' and class_ or None),
            desc=(class_ == order and not desc and 1 or None))}">$title</a>
        </th>
      </py:def>

      <py:if test="repo">
        <h1>Repository Index</h1>
  
        <table class="listing" id="dirlist">
          <thead>
            <tr>
              ${sortable_th('name', 'Name')}
              ${sortable_th('size', 'Size')}
              <th class="rev">Rev</th>
              ${sortable_th('date', 'Age')}
              <th class="change">Last Change</th>
            </tr>
          </thead>
          <tbody>
            <py:for each="idx, (reponame, repos, repoinfo, change) in enumerate(repo.repositories)">
              <tr class="${idx % 2 and 'even' or 'odd'}">
                <td class="name">
                  <a class="dir" title="View Root Directory"
                      href="${href.browser(reponame, order=(order != 'name' and order or None), desc=desc)}" py:choose="reponame"><b py:when="''">(default)</b><py:otherwise>$reponame</py:otherwise></a>
                </td>
                <td class="size" />
                <td class="rev">
                  <a title="View Revision Log" href="${href.log(reponame)}">$change.rev</a>
                </td>
                <td class="age" style="${change and repo.timerange and 'border-color: rgb(%s,%s,%s)' %
                  repo.colorize_age(repo.timerange.relative(change.date)) or None}">
                  ${change and dateinfo(change.date) or '-'}
                </td>
                <td class="change">
                  <a title="View changeset ${change.rev}" class="chgset" href="${href.changeset(change.rev, reponame)}" />
                  <span class="author" py:if="change">${authorinfo(change.author)}:</span>
                  <span class="change" py:choose="" py:with="chgset_context = context('changeset', (reponame, change.rev))">
                    <py:when test="not change or 'CHANGESET_VIEW' not in perm(chgset_context.resource)">-</py:when>
                    <py:when test="wiki_format_messages">
                      ${change and wiki_to_oneliner(chgset_context, change.message, shorten=True)}
                    </py:when>
                    <py:otherwise>${change and shorten_line(change.message)}</py:otherwise>
                  </span>
                </td>
              </tr>
              <tr class="${idx % 2 and 'even' or 'odd'}" py:if="repoinfo.description">
                <td class="description" colspan="4">$repoinfo.description</td>
              </tr>
            </py:for>
          </tbody>
        </table>
      </py:if>

      <py:if test="dir or file">
        <py:choose>
          <py:when test="repo">
            <hr />
            <h1>Default Repository</h1>
            <p class="hint">The entries in that repository are reachable directly, 
            without a repository prefix. <br />
            However, a repository name will always take precedence over a similarly 
            named entry in the default repository. <br />
            If this is a problem, add a separate explicit entry for that repository.</p>
          </py:when>
          <h1 py:otherwise="" py:content="browser_path_links(path_links, stickyrev)" />
        </py:choose>
  
        <div id="jumprev">
          <form action="" method="get">
            <div>
              <label for="rev" title="${stickyrev and 'Hint: clear the field to view latest revision' or None}">
                View revision:</label>
              <input type="text" id="rev" name="rev" value="$stickyrev" size="6" />
            </div>
          </form>
        </div>
  
        <div py:if="quickjump_entries" id="jumploc">
          <form action="" method="get">
            <div class="buttons">
              <label for="preselected">Visit:</label>
              <select id="preselected" name="preselected">
                <option selected="selected" />
                <optgroup py:for="category, locations in groupby(quickjump_entries, key=lambda q: q[0])"
                  label="${category}">
                  <option py:for="_, name, path, rev in locations" value="${href.browser(reponame, path, rev=rev)}">$name</option>
                </optgroup>
              </select>
              <input type="submit" value="Go!" title="Jump to the chosen preselected path" />
            </div>
          </form>
        </div>
      </py:if>

      <py:if test="dir">
        <table class="listing" id="dirlist">
          <thead>
            <tr>
              ${sortable_th('name', 'Name')}
              ${sortable_th('size', 'Size')}
              <th class="rev">Rev</th>
              ${sortable_th('date', 'Age')}
              <th class="change">Last Change</th>
            </tr>
          </thead>
          <tbody>
            <py:if test="'up' in chrome.links">
              <tr class="even">
                <td class="name" colspan="5">
                  <a class="parent" title="Parent Directory" href="${chrome.links.up[0].href}">../</a>
                </td>
              </tr>
            </py:if>
            <xi:include href="dir_entries.html" />
          </tbody>
        </table>
      </py:if>

      <table py:if="properties or file" id="info" summary="Revision info">
        <tr py:if="file">
          <th scope="col">
            Revision <a href="${href.changeset(rev, reponame)}">$rev</a>, ${sizeinfo(file.size)}
            (checked in by ${authorinfo(file.changeset.author)}, ${dateinfo(file.changeset.date)} ago)
          </th>
        </tr>
        <tr py:if="file">
          <td class="message searchable" py:choose="">
            <py:when test="wiki_format_messages" xml:space="preserve">
              ${wiki_to_html(context('changeset', (reponame, file.changeset.rev)), file.changeset.message, escape_newlines=True)}
            </py:when>
            <py:otherwise>${file.changeset.message}</py:otherwise>
          </td>
        </tr>
        <tr py:if="properties">
          <td colspan="2">
            <ul class="props">
              <li py:for="prop in properties" py:choose="">
                <py:when test="prop.rendered">
                   <span py:if="prop.rendered.name"
                         py:attrs="prop.rendered.name_attributes" py:content="prop.rendered.name" />
                   <div py:attrs="prop.rendered.content_attributes" py:content="prop.rendered.content" />
                </py:when>
                <py:otherwise>
                  Property <strong>$prop.name</strong> set to
                  <py:choose>
                    <em py:when="istext(prop.value)"><code>$prop.value</code></em>
                    <py:otherwise>$prop.value</py:otherwise>
                  </py:choose>
                </py:otherwise>
              </li>
            </ul>
          </td>
        </tr>
      </table>

      <div py:if="file and file.preview" id="preview" class="searchable">
        ${preview_file(file.preview)}
      </div>

      <div id="help">
        <strong>Note:</strong> See <a href="${href.wiki('TracBrowser')}">TracBrowser</a>
        for help on using the browser.
      </div>

      <div id="anydiff">
        <form action="${href.diff()}" method="get">
          <div class="buttons">
            <input type="hidden" name="new_path" value="$reponame/$path" />
            <input type="hidden" name="old_path" value="$reponame/$path" />
            <input type="hidden" name="new_rev" value="$rev" />
            <input type="hidden" name="old_rev" value="$rev" />
            <input type="submit" value="View changes..." title="Select paths and revs for Diff" />
          </div>
        </form>
      </div>

    </div>
  </body>
</html>
